<h1 class="page-header">Bienvenido a su panel de administración, <%= current_user.email %> </h1>
<h2>Este sitio se encuentra en construcción</h2>
<p>Pronto dispondrá de muchas funcionalidades, gracias por su paciencia</p>

