<header>
	<h1>Bienvenido a su panel de administración, <%= current_user.email %> </h1>
	<h2>Este sitio se encuentra en construcción</h2>
</header>
<section>
	<p>Pronto dispondrá de muchas funcionalidades, gracias por su paciencia</p>
</section>