<h1 class="page-header">Dashboard, <%= current_user.email %> </h1>
<h2>Under Construction</h2>
<p>Reports & Stadistics here</p>
<div id="error_explanation">
  <h2>Pendientes</h2>
      <ul>
        <li>agregar datos de cliente / proveedor a la venta</li>
        <li>agregar soporte para IVA y otros impuestos</li>
        <li>agregar soporte para la carga de distintos comprobantes</li>
        <li>filtrar menues de administracion y generacion de tipos para usuarios</li>
        <li>y mas ...</li>

      </ul>
  </div>

