<div class="panel panel-default">
  <div class="panel-heading">Categorías</div>
  <div class="panel-body">
    <%= render partial: 'layouts/search_form', locals: { search_entity: 'categories', word: "Categoría" } %>
    <br>
    <div class="col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5">
      <p>
        <%= button_to new_category_path, {method: :get, class: "btn btn-success"} do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Nueva Categoría
        <% end %>
      </p>
    </div>
  </div>
  <%= render partial: 'results_search' %>
</div>