<div class="table-responsive">
	<table class="table table-condensed">
		<thead>
            <tr>
				<td><strong>Nº</strong></td>
				<td><strong>Descripción</strong></td>
				<td class="text-center"><strong>Cantidad</strong></td>
				<td class="text-center"><strong>Precio</strong></td>
				<td class="text-right"><strong>Subtotal</strong></td>
            </tr>
		</thead>
		<tbody>
			<div id="sale-details-index">
				<%= render "sale_details/index" %>
			</div>
			<tr>
				<td class="thick-line"></td>
				<td class="thick-line"></td>
				<td class="thick-line"></td>
				<td class="thick-line text-center"><h3>Total</h3></td>
				<td class="thick-line text-right"><h3><%= number_to_currency(sale.total) %></h3></td>
			</tr>
		</tbody>
	</table>
</div>