<% show_actions = show_actions.nil? ? false : show_actions %>

<div class="table-responsive">
	<table class="table table-condensed">
		<thead>
            <tr>
				<td><strong>Nº</strong></td>
				<td><strong>Descripción</strong></td>
				<td class="text-right"><strong>Cantidad</strong></td>
				<td class="text-right"><strong>Precio</strong></td>
				<td class="text-right"><strong>Subtotal</strong></td>
				<%= show_actions ? '<td colspan="2"></td>'.html_safe : "" %> 
            </tr>
		</thead>
		<tbody>
			<div id="sale-details-index">
				<%= render partial: "sale_details/index", locals: {show_actions: show_actions} %>
			</div>
			<tr>
				<td class="thick-line"></td>
				<td class="thick-line"></td>
				<td class="thick-line"></td>
				<td class="thick-line text-right"><h3>Total</h3></td>
				<td class="thick-line text-right"><h3><%= number_to_currency(sale.total) %></h3></td>
				<%= show_actions ? '<td colspan="2" class=""></td>'.html_safe : "" %> 
			</tr>
		</tbody>
	</table>
</div>