
<div class="container-fluid">
	<div class="row">
		<h1>Nueva Venta</h1>

		<%= render 'form', sale: @sale %>

		<%= link_to 'Volver', sales_path, data: { confirm: "Se perderán los cambios ¿Está seguro?" } %>
	</div>
</div>
