<div class="panel panel-default">
  <div class="panel-heading">Reports</div>
  <div class="panel-body">
    <div id="error_explanation">
      <h2>Reports</h2>
        <ul>
          <li>aca tiene que ir los reportes a peticion del usuario</li>
        </ul>
    </div>
  </div>
  <%= render partial: 'results_search' %>
</div>