<section class="search-form">
	<%= form_for search_entity, method: :get do |f| %>
		<div class="input-group">
			<%= label_tag :keywords, nil, class: "sr-only" %>
			<%= text_field_tag :keywords, nil, placeholder: "Buscar",
								class: "form-control", value: "#{@keywords}" %>
			<span class="input-group-btn">
				<%= submit_tag "Buscar #{word}", class: "btn btn-primary" %>
			</span>
		</div>
	<% end %>
</section>