<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Resumen <span class="sr-only">(current)</span></a></li>
    <li><a href="#">Reportes</a></li>
    <li><a href="#">Análisis</a></li>
    <li><a href="#">Proyecciones</a></li>
  </ul>
  <hr>
  <ul class="nav nav-sidebar">
    <li><a href="">Ventas</a></li>
    <li><a href="">Nueva Venta</a></li>
    <li><a href="">Ventas diarias</a></li>
    <li><a href="">Reportes</a></li>
  </ul>
  <hr>
  <ul class="nav nav-sidebar">
    <li><a href="">Clientes</a></li>
    <li><a href="">Alta de Cliente</a></li>
    <li><a href="">Reportes</a></li>
  </ul>
  <hr>
</div>